<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to server</h1>
    <ul>
        <li>
            <span>stoic module routes</span>
            <a href="http://localhost:5000/api/v1/stoic/reflections">
                http://localhost:5000/api/v1/stoic/reflections
            </a>
        </li>
        <li>
            <span>aclc library module routes</span>
            <a href="http://localhost:5000/api/v1/aclc-library/books">
                http://localhost:5000/api/v1/aclc-library/books
            </a>
        </li>
    </ul>
</body>
</html>